<h2>Booklist</h2>
<div>
  <% @books.each do |book| %>
    <p>Record id: <%= book.id %></p>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.author %></p>
    <p>Already read: <%= book.already_read %></p>
  <% end %>
</div>
<h6>End of booklist</h6>
